@import "vars"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.slider 
		.slide-text
			max-width: 60%


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) and (min-width : 767px)
	html
		font-size: 85%
	.first-head-row
		margin-bottom: 25px
	.slider 
		.slide-text
			max-width: 70%
			padding: 20px
	ul.head-menu 
		li 
			a
				padding: 15px



/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.logo
		margin-bottom: 40px
		padding: 0
		img
			margin: 0 auto
		p
			display: none
	.first-head-row
		display: block
		>div
			text-align: center
			margin-bottom: 20px
	.choice-city 
		.dropdown-menu
			right: 0
			text-align: center
	ul.head-menu
		display: block
		li
			a
				border-right: 0
				border-bottom: 1px solid #bebebe
				span
					position: static
					top: 0
					transform: none
	.slider
		display: none
	.navbar
		.navbar-header
			margin: 0
		.toggle-button
			width: 100%
			border: none
			background-color: $orange
			padding: 15px
			color: #fff
			text-transform: uppercase
			font-weight: 700
			font-size: 1.125rem
		.mobile-menu-title
			text-transform: uppercase
			font-weight: 700
		.navbar-collapse 
			border: none
		ul.navbar-nav
			display: block
			margin: 0
			>li 
				>a
					border: none
					padding: 10px 0
					text-align: center
	// .main-footer
	// 	.foot-cont
	// 		text-align: center


@media only screen and (max-width : 767px) and (min-width : 576px)
	.logo
		img
			max-width: 60%


/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
	.grid
		&-item
			&-content
				width: 100%
			&-img
				display: none


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.navbar-header
		display: none


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

