@import "vars"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/* Large Devices, Wide Screens */


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/* Large Devices, Wide Screens */



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.logo
		margin-bottom: 40px
		padding: 0
		img
			margin: 0 auto
	.first-head-row
		display: block
		>div
			text-align: center
			margin-bottom: 20px
	.choice-city 
		.dropdown-menu
			right: 0
			text-align: center
	ul.head-menu
		display: block
	.slider
		display: none
	.navbar
		.navbar-header
			margin: 0
		.toggle-button
			width: 100%
			border: none
			background-color: $orange
			padding: 10px 15px
			color: #fff
			text-transform: uppercase
			font-weight: 500
		.mobile-menu-title
			text-transform: uppercase
			font-weight: 700
		.navbar-collapse 
			border: none
		ul.navbar-nav
			display: block
			margin: 0
			>li 
				>a
					border: none
					padding: 10px 0
					text-align: center



/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
	.grid
		&-item
			&-content
				width: 100%
			&-img
				display: none


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.navbar-header
		display: none


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

